<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.6"?>
<plugin>
   <extension
         point="org.activiti.designer.eclipse.extension.export.ExportMarshaller">
      <ExportMarshaller
            class="org.activiti.designer.export.image.export.ImageExportMarshaller">
      </ExportMarshaller>
   </extension>
</plugin>