<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.6"?>
<plugin>
   <extension
         point="org.activiti.designer.eclipse.extension.validation.ProcessValidator">
      <ProcessValidator
            class="org.activiti.designer.validation.bpmn20.validation.BPMN20ProcessValidator">
      </ProcessValidator>
   </extension>
</plugin>
