<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            description="The Kickstart form diagram"
            id="org.activiti.designer.kickstart.DiagramTypeForm"
            name="Kickstart Form diagram type"
            type="KickstartFormDiagram">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            class="org.activiti.designer.kickstart.form.diagram.KickstartFormDiagramTypeProvider"
            id="org.activiti.designer.kickstart.process.diagram.KickstartFormDiagramTypeProvider"
            name="Kickstart Form editor">
         <diagramType
               id="org.activiti.designer.kickstart.DiagramTypeForm">
         </diagramType>
         <imageProvider
               id="org.activiti.designer.kickstart.form.KickstartFormImageProvider">
         </imageProvider>
      </diagramTypeProvider>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.imageProviders">
      <imageProvider
            class="org.activiti.designer.kickstart.form.KickstartFormImageProvider"
            id="org.activiti.designer.kickstart.form.KickstartFormImageProvider">
      </imageProvider>
   </extension>
   <extension
         id="org.activiti.designer.kickstart.iconProvider"
         name="Kickstart Process Icon Provider"
         point="org.activiti.designer.eclipse.extension.IconProvider">
      <ImageProvider
            class="org.activiti.designer.kickstart.form.diagram.KickstartFormIconProvider">
      </ImageProvider>
   </extension>
  <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="KickstartFormDiagram.PropertyContributor">
         <propertyCategory
               category="Kickstart"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="KickstartFormDiagram.PropertyContributor">
         <propertyTab
               afterTab="General"
               category="Kickstart"
               id="org.activiti.designer.kickstart.valuesTab"
               label="Values">
         </propertyTab>
         <propertyTab
               category="Kickstart"
               id="org.activiti.designer.kickstart.generalTab"
               label="General">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="KickstartFormDiagram.PropertyContributor">
          <propertySection 
                class="org.activiti.designer.kickstart.form.property.DatePropertyDefinitionPropertySection"
                filter="org.activiti.designer.kickstart.form.property.DatePropertyDefinitionPropertyFilter"
                id="org.activiti.designer.kickstart.generalTab.datePropertyDefinition"
                tab="org.activiti.designer.kickstart.generalTab">
          </propertySection>
          <propertySection
               class="org.activiti.designer.kickstart.form.property.PropertyDefinitionPropertySection"
               filter="org.activiti.designer.kickstart.form.property.PropertyDefinitionPropertyFilter"
               id="org.activiti.designer.kickstart.generalTab.propertyDefinition"
               tab="org.activiti.designer.kickstart.generalTab">
         </propertySection>
          <propertySection
                class="org.activiti.designer.kickstart.form.property.FormPropertyGroupPropertySection"
                filter="org.activiti.designer.kickstart.form.property.FormPropertyGroupPropertyFilter"
                id="org.activiti.designer.kickstart.generalTab.propertyGroup"
                tab="org.activiti.designer.kickstart.generalTab">
          </propertySection>
          <propertySection
                class="org.activiti.designer.kickstart.form.property.ListPropertyDefinitionPropertySection"
                filter="org.activiti.designer.kickstart.form.property.ListPropertyDefinitionPropertyFilter"
                id="org.activiti.designer.kickstart.valuesTab.listPropertyDefinition"
                tab="org.activiti.designer.kickstart.valuesTab">
          </propertySection>
      </propertySections>
   </extension>

</plugin>
