<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.activiti.designer.eclipse.extension.export.ExportMarshaller" name="Export Marshaller" schema="schema/org.activiti.designer.eclipse.extension.export.ExportMarshaller.exsd"/>
   <extension-point id="org.activiti.designer.eclipse.extension.validation.ProcessValidator" name="ProcessValidator" schema="schema/org.activiti.designer.eclipse.extension.validation.ProcessValidator.exsd"/>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  isRoot="false"
                  pattern="org.activiti.designer.eclipse.navigatorContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="org.activiti.designer.eclipse.navigator.BpmnTreeContentProvider"
            id="org.activiti.designer.eclipse.navigatorContent"
            labelProvider="org.activiti.designer.eclipse.navigator.BpmnLabelProvider"
            name="Activiti navigator content"
            priority="higher">
         <triggerPoints>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="org.activiti.designer.eclipse.navigator.nodes.BpmnElementsNode">
               </instanceof>
               <instanceof
                     value="org.eclipse.bpmn2.StartEvent">
               </instanceof>
            </or>
         </possibleChildren>
      </navigatorContent>
      <commonWizard
            type="import"
            wizardId="org.activiti.designer.eclipse.commonWizard1">
         <enablement>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="org.activiti.designer.eclipse.activitinature">
               </test>
            </adapt>
         </enablement>
      </commonWizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.activiti.designer.eclipse.perspective.ActivitiPerspective"
            fixed="false"
            icon="community_icon.png"
            id="org.activiti.designer.eclipse.perspective.ActivitiPerspective"
            name="Activiti">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.activiti.designer.eclipse.category"
            name="Activiti">
      </category>
      <!-- Old wizard-->
      <!--
      <wizard
            category="org.activiti.designer.eclipse.category"
            class="org.activiti.designer.eclipse.ui.CreateActivitiProjectWizard"
            finalPerspective="org.activiti.designer.eclipse.perspective.ActivitiPerspective"
            icon="community_icon.png"
            id="org.activiti.designer.eclipse.ui.CreateActivitiProjectWizard"
            name="Activiti project"
            project="true">
      </wizard>
      -->
      <wizard
            category="org.activiti.designer.eclipse.category"
            class="org.activiti.designer.eclipse.ui.wizard.project.CreateDefaultActivitiProjectWizard"
            finalPerspective="org.activiti.designer.eclipse.perspective.ActivitiPerspective"
            icon="icons/logo/activiti.logo.gradients.16x16.png"
            id="org.activiti.designer.eclipse.ui.wizard.project.CreateDefaultActivitiProjectWizard"
            name="Activiti Project"
            project="true">
            <description>
               Create a new Activiti Project with a basic folder structure and a Maven POM file.
            </description>
      </wizard>
      
      <!-- Old wizard-->
      <!--
      <wizard
            category="org.activiti.designer.eclipse.category"
            class="org.activiti.designer.eclipse.ui.CreateDiagramWizard"
            finalPerspective="org.activiti.designer.eclipse.perspective.ActivitiPerspective"
            icon="community_icon.png"
            id="org.activiti.designer.eclipse.ui.CreateDiagramWizard"
            name="Activiti diagram">
      </wizard>
      -->
      
       <wizard
            category="org.activiti.designer.eclipse.category"
            class="org.activiti.designer.eclipse.ui.wizard.diagram.CreateDefaultActivitiDiagramWizard"
            finalPerspective="org.activiti.designer.eclipse.perspective.ActivitiPerspective"
            icon="icons/logo/activiti.logo.gradients.16x16.png"
            id="org.activiti.designer.eclipse.ui.wizard.diagram.CreateDefaultActivitiDiagramWizard"
            name="Activiti Diagram">
             <description>
               Create a new Activiti BPMN 2.0 Diagram.
            </description>
      </wizard>
   </extension>
   <extension
         id="org.activiti.designer.nature"
         name="Activiti nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.activiti.designer.eclipse.common.ActivitiProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.imageProviders">
      <imageProvider
            class="org.activiti.designer.eclipse.common.ActivitiEclipseImageProvider"
            id="org.activiti.designer.eclipse.common.ActivitiImageProvider">
      </imageProvider>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.activiti.designer.eclipse.editor.ActivitiBMPN2Editor"
            default="false"
            extensions="xml"
            icon="community_icon.png"
            id="org.activiti.designer.editor.bpmn"
            name="Activiti BPMN 2.0 XML Editor">
      </editor>
   <editor
         class="org.activiti.designer.eclipse.editor.ActivitiMultiPageEditor"
         contributorClass="org.activiti.designer.eclipse.editor.ActivitiMultiPageEditorContributor"
         extensions="activiti"
         icon="community_icon.png"
         id="org.activiti.designer.editor.multiPageEditor"
         name="Activiti Diagram Editor">
      <contentTypeBinding
            contentTypeId="org.activiti.designer.editor.diagram.contenttype">
      </contentTypeBinding>
      <contentTypeBinding
            contentTypeId="org.activiti.designer.editor.bpmn.contenttype">
      </contentTypeBinding>
   </editor>
   </extension>
 <extension
       point="org.eclipse.wst.xml.core.catalogContributions">
       <catalogContribution> 
         <uri
               name="http://www.omg.org/spec/BPMN/20100524/MODEL" 
               uri="xsd/BPMN20.xsd"/> 
      </catalogContribution> 
        <catalogContribution> 
         <uri
               name="http://activiti.org/bpmn" 
               uri="xsd/activiti-bpmn-extensions-5.2.xsd"/> 
      </catalogContribution> 
 </extension>
 <extension
       point="org.eclipse.core.contenttype.contentTypes">
    <content-type
          base-type="org.eclipse.core.runtime.xml"
          file-extensions="xml"
          id="org.activiti.designer.editor.bpmn.contenttype"
          name="Activiti BPMN Editor File"
          priority="normal">
       <describer
             class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
          <parameter
                name="element"
                value="definitions">
          </parameter>
       </describer>
    </content-type>
    <content-type
          base-type="org.eclipse.core.runtime.xml"
          file-extensions="activiti"
          id="org.activiti.designer.editor.diagram.contenttype"
          name="Activiti Diagram Editor File"
          priority="normal">
    </content-type>
 </extension>
 	<extension id="activitiMarker" point="org.eclipse.core.resources.markers">
	   <super type="org.eclipse.core.resources.problemmarker"/>
	   <persistent value="true"/>
	</extension>
	<extension id="activitiGeneralMarker" point="org.eclipse.core.resources.markers">
	   <super type="org.eclipse.core.resources.problemmarker"/>
	   <super type="org.activiti.designer.eclipse.activitiMarker"/>
	   <persistent value="true"/>
	</extension>
	<extension id="activitiMarshallerMarker" point="org.eclipse.core.resources.markers">
	   <super type="org.eclipse.core.resources.problemmarker"/>
	   <super type="org.activiti.designer.eclipse.activitiMarker"/>
	   <super type="org.activiti.designer.eclipse.activitiGeneralMarker"/>
	   <attribute name="nodeId"/>
	   <persistent value="true"/>
	</extension>
	<extension id="activitiValidatorMarker" point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.core.resources.problemmarker"/>
	   <super type="org.activiti.designer.eclipse.activitiMarker"/>
	   <super type="org.activiti.designer.eclipse.activitiGeneralMarker"/>
	   <attribute name="nodeId"/>
	   <persistent value="true"/>
	</extension>
	<extension
	      point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.activiti.designer.eclipse.preferences.ActivitiSavePreferencesPageInitializer">
      </initializer>
   </extension>
 	<extension 
   		point="org.eclipse.ui.popupMenus">
</extension>
</plugin>
