<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.6"?>
<plugin>
    <extension
        point="org.eclipse.help.toc">
        <toc
            file="toc.xml"
            primary="true">
        </toc>
        <toc
            file="tocusage.xml">
        </toc>
        <toc
              file="tocpreferences.xml">
        </toc>
    </extension>
</plugin>
