<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            description="The Kickstart process diagram"
            id="org.activiti.designer.kickstart.DiagramTypeProcess"
            name="Kickstart Process diagram type"
            type="KickstartProcessDiagram">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            class="org.activiti.designer.kickstart.process.diagram.KickstartProcessDiagramTypeProvider"
            id="org.activiti.designer.kickstart.process.diagram.KickstartProcessDiagramTypeProvider"
            name="Kickstart Process editor">
         <diagramType
               id="org.activiti.designer.kickstart.DiagramTypeProcess">
         </diagramType>
         <imageProvider
               id="org.activiti.designer.kickstart.process.KickstartImageProvider">
         </imageProvider>
      </diagramTypeProvider>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.imageProviders">
      <imageProvider
            class="org.activiti.designer.kickstart.process.KickstartImageProvider"
            id="org.activiti.designer.kickstart.process.KickstartImageProvider">
      </imageProvider>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="KickstartProcessDiagram.PropertyContributor">
         <propertyCategory
               category="Kickstart process"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="KickstartProcessDiagram.PropertyContributor">
         <propertyTab
               category="Kickstart process"
               id="org.activiti.designer.kickstart.process.generalTab"
               label="General">
         </propertyTab>
         <propertyTab
               afterTab="org.activiti.designer.kickstart.process.generalTab"
               category="Kickstart process"
               id="org.activiti.designer.kickstart.process.assignmentTab"
               label="Assignment">
         </propertyTab>
         <propertyTab
               afterTab="org.activiti.designer.kickstart.process.generalTab"
               category="Kickstart process"
               id="org.activiti.designer.kickstart.process.emailTab"
               label="Mail">
         </propertyTab>
         
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="KickstartProcessDiagram.PropertyContributor">
         <propertySection
               class="org.activiti.designer.kickstart.process.property.WorkflowDefinitionPropertySection"
               filter="org.activiti.designer.kickstart.process.property.WorkflowDefinitionPropertyFilter"
               id="org.activiti.designer.kickstart.process.workflowDefinition"
               tab="org.activiti.designer.kickstart.process.generalTab">
         </propertySection>
         <propertySection
               class="org.activiti.designer.kickstart.process.property.NamedStepDefinitionPropertySection"
               filter="org.activiti.designer.kickstart.process.property.NamedStepDefinitionPropertyFilter"
               id="org.activiti.designer.kickstart.process.namedStepDefinition"
               tab="org.activiti.designer.kickstart.process.generalTab">
         </propertySection>
         <propertySection
               class="org.activiti.designer.kickstart.process.property.WorkflowDefinitionFormPropertySection"
               filter="org.activiti.designer.kickstart.process.property.WorkflowDefinitionPropertyFilter"
               id="org.activiti.designer.kickstart.process.workflowDefinitionForm"
               tab="org.activiti.designer.kickstart.process.generalTab">
         </propertySection>
         <propertySection
               class="org.activiti.designer.kickstart.process.property.HumanStepDefinitionFormPropertySection"
               filter="org.activiti.designer.kickstart.process.property.HumanStepDefinitionPropertyFilter"
               id="org.activiti.designer.kickstart.process.humanStepDefinitionForm"
               tab="org.activiti.designer.kickstart.process.generalTab">
         </propertySection>
         <propertySection
               class="org.activiti.designer.kickstart.process.property.HumanStepAssignmentPropertySection"
               filter="org.activiti.designer.kickstart.process.property.HumanStepDefinitionPropertyFilter"
               id="org.activiti.designer.kickstart.process.humanStepDefinitionAssignment"
               tab="org.activiti.designer.kickstart.process.assignmentTab">
         </propertySection>
         <propertySection
               class="org.activiti.designer.kickstart.process.property.ParallelStepDefinitionPropertySection"
               filter="org.activiti.designer.kickstart.process.property.ParallelStepDefinitionPropertyFilter"
               id="org.activiti.designer.kickstart.process.parallelStepDefinition"
               tab="org.activiti.designer.kickstart.process.generalTab">
         </propertySection>
         <propertySection
               class="org.activiti.designer.kickstart.process.property.ListChoiceStepDefinitionPropertySection"
               filter="org.activiti.designer.kickstart.process.property.ListChoiceStepDefinitionPropertyFilter"
               id="org.activiti.designer.kickstart.process.listChoiceStepDefinition"
               tab="org.activiti.designer.kickstart.process.generalTab">
         </propertySection>
         <propertySection
               class="org.activiti.designer.kickstart.process.property.DelayStepDefinitionFormPropertySection"
               filter="org.activiti.designer.kickstart.process.property.DelayStepDefinitionPropertyFilter"
               id="org.activiti.designer.kickstart.process.delayStepDefinition"
               tab="org.activiti.designer.kickstart.process.generalTab">
         </propertySection>
         <propertySection
               class="org.activiti.designer.kickstart.process.property.EmailStepDefinitionFormPropertySection"
               filter="org.activiti.designer.kickstart.process.property.EmailStepDefinitionPropertyFilter"
               id="org.activiti.designer.kickstart.process.emailStepDefinition"
               tab="org.activiti.designer.kickstart.process.emailTab">
         </propertySection>
         <propertySection
               class="org.activiti.designer.kickstart.process.property.ReviewStepDefinitionPropertySection"
               filter="org.activiti.designer.kickstart.process.property.ReviewStepDefinitionPropertyFilter"
               id="org.activiti.designer.kickstart.process.reviewStepDefinition"
               tab="org.activiti.designer.kickstart.process.generalTab">
         </propertySection>
         <propertySection
               class="org.activiti.designer.kickstart.process.property.ReviewStepDefinitionAssignmentPropertySection"
               filter="org.activiti.designer.kickstart.process.property.ReviewStepDefinitionPropertyFilter"
               id="org.activiti.designer.kickstart.process.reviewStepDefinitionAssignment"
               tab="org.activiti.designer.kickstart.process.assignmentTab">
         </propertySection>
         <propertySection
               afterSection="org.activiti.designer.kickstart.process.namedStepDefinition"
               class="org.activiti.designer.kickstart.process.property.ScriptStepDefinitionFormPropertySection"
               filter="org.activiti.designer.kickstart.process.property.ScriptStepDefinitionPropertyFilter"
               id="org.activiti.designer.kickstart.process.scriptStepDefinition"
               tab="org.activiti.designer.kickstart.process.generalTab">
         </propertySection>
         
      </propertySections>
   </extension>

</plugin>
